.light-mode {
  background: linear-gradient(30.5deg, #fcf0f0 8.77%, #ffffff 32.67%), #ffffff;
  /* position: relative; */
}
.font-20 {
  font-size: 20 px !important;
}
.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}
.font-32 {
  font-size: 32px !important;
}
.font-36 {
  font-size: 36px !important;
}
.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center !important;
}

.font-weight-bold {
  font-weight: bold !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}

.color-gray {
  color: #767676 !important;
}
.color-gray2 {
  color: #aaaaaa !important;
}
.color-dark {
  color: #333333 !important;
}
.color-red {
  color: #f05359 !important;
}
.color-blue {
  color: #87d128 !important;
  font-weight: 400 !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.box-shadow-none {
  box-shadow: none !important;
}

.stats-page {
  position: relative;
  padding-bottom: 10%;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.m-auto {
  margin: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

.h-100 {
  height: 100% !important;
}

.font-weight-bold {
  font-weight: bold !important;
}
.f-24 {
  font-size: 24px !important;
}
.f-20 {
  font-size: 20px !important;
}

.spacing-left-10 {
  margin-left: 10% !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.btn-danger {
  min-width: 190px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f05359;
  border: 0;
  cursor: pointer;
}

.btn-danger a {
  color: #ffffff;
}

.light-mode::after {
  content: '';
  position: fixed;
  width: 100%;
  background-image: url(/static/media/bg-root.fb2ade32.svg);
  background-repeat: no-repeat;
  top: 77px;
  bottom: 0;
  left: 0;
  background-position: initial;
  margin: auto;
  z-index: -1;
}

.btn-copy-dark-mode {
  color: #fff;
}

.box-btn-copy-dark-mode {
  width: 38px;
  height: 38px;
  background-color: #3faab0;
  border-radius: 15px;
}

.btn-copy-light-mode {
  color: #3faab0;
}

.box-btn-copy-light-mode {
  width: 38px;
  height: 38px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid #3faab0;
}

.dark-mode::after {
  content: '';
  position: fixed;
  width: 100%;
  background-image: url(/static/media/bg-root-dark.a96be81c.svg);
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  background-position: initial;
  margin: auto;
  z-index: -1;
  background-size: cover;
}

.stats-page .box-search_left {
  margin-left: auto;
}

.stats-page .box-chart {
  z-index: 0;
}

.stats-page .box-card-items .card-item > div > div > div {
  padding: 16px 30px;
}

.stats-page .box-table-main {
  min-height: 500px;
  border: 0px;
  padding: 1.25rem 0;
  box-shadow: 0px 8px 17px rgb(0 0 0 / 18%);
  border-radius: 15px;
}

.table-row-dark-mode {
  background-color: #0a1c29;
}

.table-row-light-mode {
  background-color: #f2f2f2;
}

.stats-page .box-table-main {
  padding: 0px;
}

.stats-page .box-table-main > div > div > div {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.makeStyles-root-1 {
  z-index: 10;
}

div.MuiTabs-flexContainer {
  justify-content: space-between;
}

.PrivateTabIndicator-colorPrimary-8 {
  display: none;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  /* color: #333333 !important; */
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
  /* color: #fff; */
  font-size: 24px;
  min-height: 56px;
  padding-top: 6px;
}

.MuiPaginationItem-page.Mui-selected {
  border: 1px solid #f05359 !important;
  color: #f05359 !important;
  background-color: transparent !important;
}

.MuiPaginationItem-page {
  border: 1px solid #c4c4c4 !important;
  color: #c4c4c4 !important;
}

.MuiPaginationItem-root {
  color: #c4c4c4 !important;
}

.MuiButtonBase-root.MuiTab-root svg {
  padding-right: 7px;
  margin-bottom: 0px !important;
}

.MuiButtonBase-root.MuiTab-root .iconLightMode {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1%) contrast(60%);
}

.MuiButtonBase-root.MuiTab-root .iconDarkMode {
  /* filter: invert(115%) sepia(107%) saturate(109%) hue-rotate(249deg) brightness(226%) contrast(13%); */
  /* filter: invert(11%) sepia(8%) saturate(15%) hue-rotate(330deg) brightness(96%) contrast(77%); */
  width: 20px;
  height: 20px;
  fill: #aaaaaa;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected .iconLightMode,
.MuiButtonBase-root.MuiTab-root.Mui-selected .iconDarkMode {
  filter: brightness(0) invert(1) !important;
}

.sc-fMiknA.kJSEpH.css-vurnku {
  background-color: #fff;
}

.sc-eInJlc.fXmQyY .sc-iAyFgw.beHBUt {
  z-index: 1;
}

.sc-fMiknA.cnylqf.css-vurnku {
  background-color: #0a1c29;
}

.sc-iELTvK.cIJBAB,
.sc-iELTvK.bmPFCO {
  z-index: 1;
}

.sc-dfVpRl.fFjblt,
.sc-fMiknA.cnylqf.css-vurnku,
.sc-fMiknA.kJSEpH.css-vurnku {
  z-index: 0;
}

.box-main-content-overview .box-card-items {
  flex-wrap: nowrap;
}

.box-search_left {
  margin-left: auto;
}

.btn-tab-custom.Mui-selected {
  background-color: #f05359 !important;
}

.btn-tab-custom.btn-dark-mode {
  background-color: #0e2b4a;
}

.btn-tab-custom.btn-light-mode {
  background-color: #f3f3f3;
}

.btn-tab-custom.btn-light-mode span {
  color: #000;
}

.btn-tab-custom.Mui-selected.btn-light-mode span {
  color: #fff;
}

.btnLink {
  color: #3faab0 !important;
}

.isBgTableDark {
  background-color: #0e2b4a;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
}

.isBgTableLight {
  background-color: #fff;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
}

.panigation-table-token-page ul {
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn-secondary {
  background-color: #c9c9c9 !important;
}

.minw-auto {
  min-width: auto !important;
}

.h-auto {
  height: auto !important;
}

.text-white {
  color: #fff !important;
}

@media (max-width: 600px) {
  .f-20 {
    font-size: 16px !important;
  }
  .light-mode::after {
    display: none;
  }
  .dark-mode::after {
    display: none;
  }
}

@media (max-width: 576px) {
  .stats-page .box-first-main {
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    width: 100%;
  }

  .stats-page .box-table-main {
    min-height: auto;
  }

  .stats-page .box-main-content-overview .box-card-items {
    flex-wrap: wrap;
    width: 100%;
  }

  .stats-page .box-main-content-overview .box-card-items .card-item {
    width: 100%;
  }

  .stats-page .box-search_left {
    margin: auto;
    width: 100%;
  }

  .stats-page .btn-tab-custom {
    font-size: 16px;
    min-width: 150px;
    min-height: auto;
  }

  .stats-page .panigation-table {
    padding: 0;
  }

  .btn-danger {
    min-width: calc(100% / 2 - 15px);
  }

  .box-btn-action {
    width: 100%;
  }

  .box-title-main {
    margin-top: 34px !important;
    margin-bottom: 12px !important;
  }
}

@media (min-width: 576px) and (max-width: 800px) {
  .stats-page .box-main-content-overview .box-card-items {
    flex-wrap: wrap;
  }

  .stats-page .box-first-main {
    width: 90%;
    margin: auto;
  }

  .stats-page .box-search_left {
    margin-left: auto;
  }

  .stats-page .box-main-content-overview .box-card-items .card-item {
    width: 50%;
  }

  .stats-page .box-table-main {
    min-height: auto;
  }

  /*  */
}
@media (max-width: 800px) {
  .MuiTabs-scroller.MuiTabs-fixed {
    overflow: initial !important;
  }
  .MuiTabs-scroller.MuiTabs-fixed .MuiTabs-flexContainer {
    flex-wrap: wrap;
  }
  div.MuiTabs-flexContainer {
    justify-content: space-around;
  }

  .MuiTabs-scroller.MuiTabs-fixed .MuiTabs-flexContainer button {
    min-width: 120px;
    margin: auto 0;
    width: auto;
    margin-top: 14px;
    min-height: 45px;
    margin-right: 5px;
    max-width: 130px;
  }

  .MuiTabs-scroller.MuiTabs-fixed .MuiTabs-flexContainer button span {
    font-size: 13px;
  }
  .stats-page .box-card-items {
    margin-top: 15px;
  }
}

@media (min-width: 800px) and (max-width: 1024.5px) {
  .stats-page .btn-tab-custom {
    width: calc(100% / 4 - 25px);
    min-width: auto;
  }

  .stats-page .box-card-items {
    flex-wrap: wrap;
  }

  .stats-page .box-card-items .card-item {
    width: 50%;
    max-width: 50%;
  }

  .three-line-legend {
    width: auto;
  }
}

@media screen and (min-width: 1366px) {
  .stats-page .btn-tab-custom {
    width: calc(100% / 5 - 26px);
    min-width: auto;
  }

  .column-token {
    grid-template-rows: initial;
    gap: 20px;
  }
}

#demo-customized-select {
  padding-right: 5px;
}
.MuiInput-underline::after,
#demo-customized-select .MuiInput-underline::before {
  display: none !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 0 !important;
}
.MuiSelect-icon {
  color: #fff !important;
}

.MuiInput-underline:before {
  display: none;
}
